a{
  text-decoration: none;
}



.photo {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.container {
  width: 99%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.photo__buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  z-index: 2;
  margin-top: -50px;
  
  .buttonp {
    color: #000;
    width: auto;
    border-radius: 0px;
    font: var(--font-alegreya-sc);
    
    &:hover {
      cursor: pointer;
    }
  }
}

.button_color {
  color: #000 !important;
  border-bottom: solid 3px #000 !important;
}

.photo__slider {
  position: relative;
  height: 787px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.slider {
  display: flex;
  width: 300%;
  position: absolute;
  left: -100%;
  transition-duration: 3s;
}

.photo__image {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  width: 100%;
  justify-content: space-around;
  overflow-y: hidden;
  
  img {
    width: 320px;
    height: 380px;
    object-fit: contain;
  }
}

.arrows {
  display: flex;
  position: absolute;
  z-index: 2;
  width: 100%;
  justify-content: space-between;
  top: calc(50% - 20px);
  opacity: 0;
  transition: all 2s;

  .slider:hover + &, &:hover {
    opacity: 1;
  }
}

.buttonp{
  color: #E0E1DD;
  background-color: transparent;
  border: none;
  font-family: "Exo 2";
  font-size: 24px;
}

.move_left {
  animation-name: move_left;
  animation-duration: 2s;
}

@keyframes move_left { 
  0% { 
    left: -100%;
  } 
  100% {
    left: -200%;
  } 
}

.move_right {
  animation-name: move_right;
  animation-duration: 2s;
}

@keyframes move_right { 
  0% { 
    left: -100%;
  } 
  100% {
    left: 0%;
  } 
}






















.rectangle {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-black);
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 55px;
}
.btn,
.div,
.rectangle {
  position: absolute;
}
.div {
  top: 8px;
  left: calc(50% - 69.66px);
  font-size: var(--font-size-xl);
  line-height: 40px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 140px;
}
.btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 265px;
  left: calc(50% - 177.5px);
  width: 355.31px;
  height: 55px;
}
.e-mail,
.phone,
.rectangle1 {
  position: absolute;
  height: 50px;
}
.rectangle1 {
  border: 2px solid var(--color-black);
  background-color: var(--color-gray);
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
}
.e-mail,
.phone {
  top: 70px;
  left: 0.23px;
  width: 727.47px;
}
.e-mail {
  top: 5px;
  left: 6.55px;
  line-height: 40px;
  display: inline-block;
  width: 204px;
  height: 40px;
}
.email,
.rectangle3 {
  position: absolute;
  top: 0;
  left: 0.23px;
  width: 727.47px;
  height: 50px;
}
.rectangle3 {
  border: 2px solid var(--color-black);
  background-color: var(--color-gray);
  width: 100%;
  right: 0;
  left: 0;
  box-sizing: border-box;
  height: 100px;
}
.div2 {
  position: absolute;
  top: 10px;
  left: 7.78px;
  line-height: 40px;
  display: inline-block;
  width: 204px;
  height: 40px;
}
.commentary {
  position: absolute;
  top: 135px;
  left: 0;
  width: 727.47px;
  height: 100px;
}
.form {
  position: absolute;
  top: 120px;
  left: calc(50% - 363.5px);
  width: 727px;
  height: 320px;
}
.contacts-title {
  position: absolute;
  top: 0;
  left: calc(50% - 183.5px);
  font-size: var(--font-size-21xl);
  line-height: 80px;
  display: inline-block;
  font-family: var(--font-merriweather);
  width: 366px;
}
.contacts {
  position: absolute;
  top: 4253px;
  left: -1px;
  width: 1023px;
  height: 440px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.rectangle4 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  height: 505px;
}
.div3,
.frame,
.rectangle4 {
  position: absolute;
}
.div3 {
  top: 8px;
  left: calc(50% - 71.22px);
  font-size: var(--font-size-xl);
  line-height: 40px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 142px;
}
.frame {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 48.89%;
  top: 407px;
  right: 25.56%;
  left: 25.56%;
  height: 55px;
}
.byn50-byn {
  position: absolute;
  top: 119px;
  left: calc(50% - 123px);
  font-size: var(--font-size-5xl);
  line-height: 48px;
  display: inline-block;
  width: 245px;
  height: 86px;
}
.div4,
.div5,
.div6,
.div7,
.div9 {
  position: absolute;
  top: 36px;
  left: calc(50% - 62.06px);
  line-height: 36px;
}
.div5,
.div6,
.div7,
.div9 {
  top: 108px;
  left: calc(50% - 70.06px);
}
.div6,
.div7,
.div9 {
  top: 0;
  left: calc(50% - 53.06px);
}
.div7,
.div9 {
  top: 144px;
  left: calc(50% - 115.06px);
}
.div9 {
  top: 72px;
  left: calc(50% - 86.06px);
}
.frame1 {
  width: 80.89%;
  top: 187px;
  right: 9.64%;
  left: 9.48%;
  height: 180px;
  font-family: var(--font-inter);
}
.div10,
.frame1,
.premium {
  position: absolute;
}
.premium {
  top: 40px;
  left: calc(50% - 132px);
  font-size: var(--font-size-9xl);
  line-height: 56px;
  display: inline-block;
  width: 262px;
  height: 127px;
}
.div10 {
  top: 367px;
  left: calc(50% - 112px);
  line-height: 36px;
  font-family: var(--font-inter);
}
.price-item {
  position: absolute;
  width: 32.14%;
  top: 0;
  right: 0;
  left: 67.86%;
  height: 505px;
  font-size: var(--font-size-lg);
}
.byn {
  top: 119px;
  left: calc(50% - 72px);
  line-height: 48px;
  display: inline-block;
  width: 142px;
  height: 68px;
}
.byn,
.div12,
.div13 {
  position: absolute;
}
.div12 {
  top: 36px;
  left: calc(50% - 61.41px);
  line-height: 36px;
}
.div13 {
  top: 108px;
  left: calc(50% - 70.41px);
}
.div13,
.div14,
.div15 {
  line-height: 36px;
}
.div14 {
  position: absolute;
  top: 0;
  left: calc(50% - 58.41px);
}
.div15 {
  top: 144px;
  left: calc(50% - 115.41px);
}
.div15,
.div16,
.frame3 {
  position: absolute;
}
.div16 {
  top: 72px;
  left: calc(50% - 86.41px);
  line-height: 36px;
}
.frame3 {
  width: 80.89%;
  top: 187px;
  right: 9.56%;
  left: 9.55%;
  height: 180px;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
}
.premium1 {
  position: absolute;
  top: 43px;
  left: calc(50% - 114px);
  font-size: var(--font-size-9xl);
  line-height: 56px;
}
.price-item1 {
  position: absolute;
  width: 32.14%;
  top: 0;
  right: 33.93%;
  left: 33.93%;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 505px;
}
.byn1 {
  top: 119px;
  left: calc(50% - 44px);
  line-height: 48px;
  display: inline-block;
  width: 88px;
  height: 86px;
}
.byn1,
.div18,
.div19 {
  position: absolute;
}
.div18 {
  top: 36px;
  left: calc(50% - 82.75px);
  line-height: 36px;
}
.div19 {
  top: 108px;
  left: calc(50% - 70.75px);
}
.div19,
.div20,
.div21 {
  line-height: 36px;
}
.div20 {
  position: absolute;
  top: 0;
  left: calc(50% - 57.75px);
}
.div21 {
  top: 72px;
  left: calc(50% - 85.75px);
}
.b,
.div21,
.frame5 {
  position: absolute;
}
.frame5 {
  width: 80.89%;
  top: 187px;
  right: 9.48%;
  left: 9.63%;
  height: 180px;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
}
.b {
  top: 43px;
  left: calc(50% - 119px);
  font-size: var(--font-size-9xl);
  line-height: 56px;
}
.price-item2,
.price-items {
  position: absolute;
  width: 32.14%;
  top: 0;
  right: 67.86%;
  left: 0;
  height: 505px;
}
.price-items {
  width: 99.96%;
  top: 140px;
  right: 0.02%;
  left: 0.02%;
}
.section-title-line {
  position: absolute;
  width: 100%;
  top: 39px;
  right: 0;
  left: 0;
  background-color: var(--color-black);
  height: 2px;
}
.rectangle10 {
  width: 20.29%;
  right: 39.86%;
  left: 39.86%;
  background-color: var(--color-white);
  height: 80px;
}
.b1,
.rectangle10,
.section-title {
  position: absolute;
  top: 0;
}
.b1 {
  left: calc(50% - 60.89px);
  line-height: 80px;
}
.section-title {
  width: 49.98%;
  right: 25.01%;
  left: 25.01%;
  height: 80px;
  font-size: var(--font-size-21xl);
}
.price {
  position: absolute;
  top: 3443px;
  left: 15px;
  width: 996px;
  height: 645px;
  overflow: hidden;
  text-align: center;
}
.b2,
.rectangle11 {
  position: absolute;
  top: 0;
}
.rectangle11 {
  width: 101.32%;
  right: -1.32%;
  left: 0;
  background-color: var(--color-white);
  height: 80px;
}
.b2 {
  left: calc(50% - 66px);
  line-height: 80px;
}
.section-title1,
.span {
  position: absolute;
  top: 0;
  height: 80px;
}
.span {
  left: calc(50% - 76.89px);
  width: 154px;
}
.section-title1 {
  width: 48.61%;
  right: 25.51%;
  left: 25.88%;
}
.video-player-icon {
  position: absolute;
  top: 176px;
  left: 0;
  width: 1024px;
  height: 651px;
  object-fit: cover;
}
.play-hover-icon {
  position: absolute;
  height: 15.72%;
  width: 12.06%;
  top: 55.99%;
  right: 43.9%;
  bottom: 28.3%;
  left: 44.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.portfolio-img-icon,
.video {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.video {
  top: 2462px;
  width: 1024px;
  height: 827px;
  text-align: center;
  font-size: var(--font-size-21xl);
}
.portfolio-img-icon {
  width: 32.14%;
  top: 0;
  right: 67.86%;
  max-width: 100%;
  height: 382px;
  object-fit: cover;
}
.portfolio-img-icon1,
.portfolio-img-icon2,
.portfolio-img-icon3,
.portfolio-img-icon4,
.portfolio-img-icon5 {
  position: absolute;
  width: 32.14%;
  top: 0;
  right: 33.93%;
  left: 33.93%;
  max-width: 100%;
  overflow: hidden;
  height: 382px;
  object-fit: cover;
}
.portfolio-img-icon2,
.portfolio-img-icon3,
.portfolio-img-icon4,
.portfolio-img-icon5 {
  right: 0;
  left: 67.86%;
}
.portfolio-img-icon3,
.portfolio-img-icon4,
.portfolio-img-icon5 {
  top: 405px;
  right: 67.86%;
  left: 0;
}
.portfolio-img-icon4,
.portfolio-img-icon5 {
  right: 33.93%;
  left: 33.93%;
}
.portfolio-img-icon5 {
  right: 0;
  left: 67.86%;
}
.portfolio-items {
  position: absolute;
  width: 100%;
  top: 128px;
  right: 0;
  left: 0;
  height: 787px;
}
.rectangle12 {
  width: 95.26%;
  right: 2.16%;
  left: 2.59%;
  background-color: var(--color-white);
  height: 80px;
}
.b3,
.frame6,
.rectangle12,
.span1 {
  position: absolute;
  top: 0;
}
.b3 {
  left: calc(50% - 90px);
  line-height: 80px;
  display: inline-block;
  width: 181px;
}
.frame6,
.span1 {
  height: 80px;
}
.frame6 {
  width: 105.45%;
  right: -5.45%;
  left: 0;
}
.span1 {
  left: calc(50% - 118px);
  width: 220px;
}
.section-title2 {
  width: 68.56%;
  top: 0;
  right: 16.55%;
  left: 14.89%;
  height: 80px;
}
.b4,
.portfolio,
.section-title2 {
  position: absolute;
}
.portfolio {
  top: 1484px;
  left: 0;
  width: 1021px;
  height: 915px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-21xl);
}
.b4 {
  top: 80px;
  left: calc(50% - 166.37px);
  line-height: 40px;
  display: inline-block;
  width: 280px;
}
.insignia-1-icon {
  position: absolute;
  top: 0;
  left: 55.07px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.b5 {
  position: absolute;
  top: 160px;
  left: -40.93px;
  font-size: var(--font-size-base);
  line-height: 40px;
  display: inline-block;
  width: 273px;
  height: 58px;
}
.skills-item {
  position: absolute;
  width: 22.86%;
  top: 0;
  right: 0;
  left: 77.14%;
  height: 240px;
}
.b6 {
  position: absolute;
  top: 80px;
  left: calc(50% - 140.12px);
  line-height: 40px;
  display: inline-block;
  width: 280px;
}
.gloves-1-icon {
  position: absolute;
  top: 0;
  left: 79.32px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.b7 {
  position: absolute;
  top: 160px;
  left: 19.32px;
  font-size: var(--font-size-base);
  line-height: 40px;
  display: inline-block;
  width: 201px;
  height: 56px;
}
.skills-item1 {
  position: absolute;
  width: 22.86%;
  top: 0;
  right: 25.71%;
  left: 51.43%;
  height: 240px;
}
.b8 {
  position: absolute;
  top: 80px;
  left: calc(50% - 98.87px);
  line-height: 40px;
  display: inline-block;
  width: 254px;
}
.delivery-1-icon {
  position: absolute;
  top: 0;
  left: 101.57px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.b9 {
  position: absolute;
  top: 160px;
  left: 34.57px;
  font-size: var(--font-size-base);
  line-height: 40px;
  display: inline-block;
  width: 212px;
  height: 52px;
}
.skills-item2 {
  position: absolute;
  width: 22.86%;
  top: 0;
  right: 51.43%;
  left: 25.71%;
  height: 240px;
}
.b10 {
  position: absolute;
  top: 80px;
  left: calc(50% - 64.62px);
  line-height: 40px;
  display: inline-block;
  width: 223px;
}
.smartphone-1-icon {
  position: absolute;
  top: 0;
  left: 120px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.b11 {
  position: absolute;
  top: 160px;
  left: 30px;
  font-size: var(--font-size-base);
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 78px;
}
.skills-item3,
.skills-items {
  position: absolute;
  width: 22.86%;
  top: 0;
  right: 78.67%;
  left: -1.53%;
  height: 240px;
}
.skills-items {
  width: 97.22%;
  top: 180px;
  right: 1.39%;
  left: 1.39%;
  height: 242px;
}
.div22,
.rectangle13,
.span2 {
  position: absolute;
  top: 0;
  height: 80px;
}
.rectangle13 {
  width: 251.97%;
  right: -75%;
  left: -76.97%;
  background-color: var(--color-white);
}
.div22,
.span2 {
  left: calc(50% - 76px);
  width: 152px;
}
.div22 {
  top: 17px;
  left: calc(50% - 128px);
  line-height: 50px;
  display: inline-block;
  width: 255px;
  height: 63px;
}
.section-title3 {
  position: absolute;
  width: 63.66%;
  top: 47px;
  right: 18.22%;
  left: 18.12%;
  height: 80px;
  font-size: var(--font-size-xl);
}
.bg-icon,
.skills {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.skills {
  top: 910px;
  width: 1021px;
  height: 482px;
  text-align: center;
  font-size: var(--font-size-lg);
}
.bg-icon {
  top: 0;
  width: 1029px;
  height: 910px;
  object-fit: cover;
}
.rectangle14 {
  cursor: pointer;
  border: 3px solid var(--color-white);
  padding: 0;
  background-color: var(--color-black);
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  filter: blur(4px);
  box-sizing: border-box;
  height: 55px;
}
.btn1,
.div23,
.rectangle14 {
  position: absolute;
}
.div23 {
  top: 6px;
  left: calc(50% - 57.22px);
  font-size: var(--font-size-xl);
  line-height: 40px;
  font-family: var(--font-merriweather);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 114px;
}
.btn1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 44%;
  top: 334px;
  right: 56%;
  left: 0;
  border-radius: 100px 0 0 0;
  height: 55px;
}
.p,
.p3 {
  margin: 0;
}
.p3 {
  font-size: 36px;
}
.hero-text,
.hero-title {
  position: absolute;
  width: 94%;
  top: 83px;
  left: 0.6%;
  line-height: 40px;
  display: inline-block;
}
.hero-title {
  width: 124.31%;
  top: -37px;
  left: 0.03%;
  font-size: 96px;
  line-height: 50px;
  font-family: var(--font-medula-one);
  height: 120px;
}
.button,
.button1,
.button2,
.button3,
.hero {
  position: absolute;
  color: var(--color-white);
}
.hero {
  width: 34.72%;
  top: 250px;
  right: 59.72%;
  left: 5.56%;
  height: 330px;
}
.button,
.button1,
.button2,
.button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 16.92%;
  top: 0;
  left: 0.15%;
  font-size: var(--font-size-xl);
  line-height: 50px;
  font-family: var(--font-merriweather);
  text-align: left;
  display: inline-block;
}
.button1,
.button2,
.button3 {
  width: 20.2%;
  left: 24.66%;
}
.button2,
.button3 {
  width: 25.37%;
  left: 74.2%;
}
.button3 {
  width: 13.86%;
  left: 52.57%;
}
.configuration-1,
.nav {
  position: absolute;
  width: 43.87%;
  top: 0;
  right: 3.89%;
  left: 52.24%;
  height: 50px;
}
.configuration-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 96.15%;
  width: 23.39%;
  right: 76.61%;
  bottom: 3.85%;
  left: 0;
  background-image: url(./assets/png/configuration1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.repair-master {
  position: absolute;
  top: 2px;
  left: 99px;
  line-height: 50px;
}
.header,
.logo {
  position: absolute;
  top: 10px;
  left: 0;
  width: 295px;
  height: 52px;
}
.header {
  top: 20px;
  left: 37px;
  width: 980px;
  height: 62px;
  overflow: hidden;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-medula-one);
}
.vector-icon {
  height: 83.29%;
  width: 83.3%;
  top: 8.33%;
  right: 8.38%;
  bottom: 8.37%;
  left: 8.32%;
  max-width: 100%;
  max-height: 100%;
}
.inst-1,
.vector-icon,
.vector-icon1 {
  position: absolute;
  overflow: hidden;
}
.inst-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 9px;
  left: 0;
  width: 32px;
  height: 32px;
}
.vector-icon1 {
  height: 83.33%;
  width: 52.08%;
  top: 8.33%;
  right: 22.92%;
  bottom: 8.33%;
  left: 25%;
  max-width: 100%;
  max-height: 100%;
}
.fb-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 9px;
  left: 52px;
  width: 32px;
  height: 32px;
}
.fb-1,
.tw-1,
.vector-icon2 {
  position: absolute;
  overflow: hidden;
}
.vector-icon2 {
  height: 67.71%;
  width: 83.33%;
  top: 16.67%;
  right: 8.33%;
  bottom: 15.63%;
  left: 8.34%;
  max-width: 100%;
  max-height: 100%;
}
.tw-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 9px;
  left: 104px;
  width: 32px;
  height: 32px;
}
.vector-icon3 {
  height: 83.34%;
  width: 83.04%;
  top: 8.33%;
  right: 8.48%;
  bottom: 8.33%;
  left: 8.48%;
  max-width: 100%;
  max-height: 100%;
}
.pinterest-1,
.social-list,
.vector-icon3 {
  position: absolute;
  overflow: hidden;
}
.pinterest-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 9px;
  left: 156px;
  width: 32px;
  height: 32px;
}
.social-list {
  top: 55px;
  left: 50px;
  width: 203px;
  height: 50px;
}
.visa-mastercard-1-icon {
  position: absolute;
  top: 8px;
  left: 183px;
  width: 68px;
  height: 22px;
  object-fit: cover;
}
.button4,
.elb00305gbstuby {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  font-size: var(--font-size-mini);
  letter-spacing: 0.02em;
  line-height: 140%;
  font-family: var(--font-merriweather);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.button4 {
  top: 0;
  left: 0;
  width: 168px;
}
.elb00305gbstuby {
  top: 30px;
  left: 11px;
}
.parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 168px;
  height: 51px;
}
.frame7,
.repair-master1 {
  position: absolute;
  top: 30px;
}
.frame7 {
  left: 703px;
  width: 253px;
  height: 105px;
}
.repair-master1 {
  left: 398px;
  font-size: var(--font-size-29xl);
  line-height: 50px;
  font-family: var(--font-medula-one);
}
.div25,
.div26 {
  letter-spacing: 0.02em;
  line-height: 140%;
}
.div25 {
  position: absolute;
  top: 0;
  left: 0;
}
.div26 {
  top: 24px;
}
.div24,
.div26,
.div27 {
  position: absolute;
  left: 0;
}
.div27 {
  top: 48px;
  letter-spacing: 0.02em;
  line-height: 140%;
}
.div24 {
  top: 37px;
  width: 204px;
  height: 66px;
}
.div28 {
  top: 113px;
  left: 408px;
  letter-spacing: 0.02em;
  line-height: 140%;
  display: inline-block;
  width: 295px;
  height: 37px;
}
.div28,
.div29,
.footer {
  position: absolute;
}
.div29 {
  top: 82px;
  left: 294px;
  letter-spacing: 0.02em;
  line-height: 140%;
  text-align: center;
  display: inline-block;
  width: 404px;
  height: 33px;
}
.footer {
  top: 4888px;
  left: 54px;
  width: 956px;
  height: 150px;
  overflow: hidden;
  font-size: var(--font-size-smi);
  font-family: var(--font-raleway);
}
.desktop {
  position: relative;
  background-color: var(--color-white);
  width: 1024px;
  border: 1px solid #000;
  margin: 0px auto;
  height: 5038px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-merriweather);
}


@media screen and (max-width: 768px) {
  .desktop{
    width: 768px;
  }
  .hero-title{
    width: 500px;
  }
  .btn1{
    top: 370px;
  }
  .header{
    left: 27px;
  }
  .nav{
    top: 10px;
    left: 310px;
  }
  .btn1{
    width: 176px;
  }
  .bg-icon{
    width: 768px;
  }
  .section-title3{
    left: 60px;
  }
  .skills-item{
    visibility: hidden;
  }
  .section-title2{
    left: 35px;
  }
  .photo{
    max-width: 768px;
    margin: 0px;
  }
  .section-title1{
    left: 130px;
  }
  .video-player-icon{
    width: 768px;
    height: 501px;
  }
  .play-hover-icon{
    left: 337.5px;
    top: 360px;
  }
  .section-title{
    left: 130px;
  }
  .price{
    left: 0px;
  }
  .price-items{
    left: 5px;
    b{
      font-size: 20px;
    }
  }
  .price-item2{
    width: 240px;
    left: 0px;
    b{
      left: 30px;
    }
    .byn1{
      left: 70px;
    }
  }
  .premium1{
    left: 40px;
  }
  .price-item1{
    left: 268.5px;
    width: 240px;
  }
  .price-item{
    left: 521px;
    width: 240px;
  }
  .div10{
    visibility: hidden;
  }
  .contacts{
    width: 768px;
  }
  .repair-master1, .div28, .div29{
    left: 0px;
    text-align: left;
  }
  .div28{
    top: 100px;
  }
  .footerlog{
    width: 400px;
    position: absolute;
    left: 230px;
  }
  .frame7{
    left: 450px;
  }
}

@media screen and (max-width: 767.5px) {
  .nav{
    visibility: hidden;
  }
  nav {
    display: flex;
    position: relative;
    .menu__box {
      display: flex;
      gap: 20px;
      position: fixed;
      visibility: hidden;
      flex-direction: column;
      top: 0px;
      right: -400px;
      width: 300px;
      height: 100%;
      margin: 0;
      z-index: 1000;
      padding: 80px 40px;
      background-color: #ECEFF1;
      box-shadow: 1px 0px 10px rgba(0, 0, 0, .2); 
      transition-duration: 3s; 
      li {
        list-style-type: none;
    
        a {
          text-decoration: none;
          color: #000 !important;
        }
      }
    }
  }
  
  .menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 670px;
    right:0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1001;
  }
   
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  
  .menu-btn > span::before {
    content: '';
    top: -8px;
  }
  
  .menu-btn > span::after {
    content: '';
    top: 8px;
  }
  
  #menu-toggle{
    opacity: 0;
  }
   
  #menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
  }
  
  #menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
  }
  
  #menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
  }
  
  #menu-toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0px;
  }
  
  .menu__item:hover {
    background-color: #CFD8DC;
  }
}

@media screen and (max-width: 320px) {
  .desktop{
    width: 320px;
  }
  .header{
    left: 3px;
  }
  .repair-master{
    left: 70px;
  }
  .menu-btn{
    left: 275px;
  }
  .menu__box{
    width: 200px !important;
  }
  .hero-title{
    font-size: 70px;
  }
  .bg-icon{
    width: 320px;
  }
  .hero-text{
    width: 300px;
  }
  .section-title3{
    left: -160px;
  }
  .skills-item3{
    .b10{
      width: 245px;
    }
    .b11{
      visibility: hidden;
    }
  }
  .skills-item2{
    left: 0px;
    top: 173px;
  }
  .section-title2{
    left: -180px;
  }
  .photo{
    width: 320px;
  }
  .photo__buttons{
    display: block;
  }
  .section-title1{
    left: -80px;
  }
  .video-player-icon{
    width: 320px;
    height: 208px;
  }
  .play-hover-icon{
      width: 92px;
      height: 92px;
      top: 237px;
      left: 117.5px;
  }
  .video{
    height: 400px;
  }
  .section-title{
    top: 0px;
    left: -85px;
  }
  .price{
    top: 2893px;
    height: 1300px;
  }
  .price-items{
    height: 1025px;
  }
  .price-item2{
    left: 38px;
  }
  .price-item1{
    left: 38px;
    top: 520px;
  }
  .contacts{
    width: 320px;
  }
  .contacts-title{
    font-size: 28px;
    width: 260px;
    left: 10%;
  }
  .email, .phone, .commentary{
    width: 320px;
    left: 204.5px;
  }
  .footer{
    top: 4749px;
    left: 0px;
    height: 330px;
  }
  .div24{
    left: 58px;
  }
  .footerlog{
    left: 58px;
    top: 120px;
  }
}

#second{
  height: 800px;
  .header{
    background-color: #000;
    width: 100%;
    left: 0px;
    top: 0px;
  }
  .menu-btn span, span::before, span::after{
    background-color: #2e226b;
  }
  .nav{
    top: 5px;
  }
  .cart{
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
  }
}